<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>feiServer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>CharacterEncodingFilter</display-name>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>com.fei.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>characterEncoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
    <init-param>
      <param-name>enabled</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>access_tokenFilter</filter-name>
    <filter-class>com.fei.filter.Access_TokenFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>access_tokenFilter</filter-name>
    <url-pattern>/chitchat/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <listener>
    <listener-class>
      org.apache.commons.fileupload.servlet.FileCleanerCleanup
    </listener-class>
  </listener>
  <context-param>
    <param-name>identity</param-name>
    <param-value>access_token</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.fei.garbage.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet2</display-name>
    <servlet-name>TestServlet2</servlet-name>
    <servlet-class>com.fei.garbage.TestServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet2</servlet-name>
    <url-pattern>/TestServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.fei.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login/userLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>register</display-name>
    <servlet-name>register</servlet-name>
    <servlet-class>com.fei.servlet.register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/user/sendMessageCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Vification</display-name>
    <servlet-name>Vification</servlet-name>
    <servlet-class>com.fei.servlet.Vification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Vification</servlet-name>
    <url-pattern>/user/verifyMessageCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveUser</display-name>
    <servlet-name>SaveUser</servlet-name>
    <servlet-class>com.fei.servlet.SaveUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveUser</servlet-name>
    <url-pattern>/user/saveUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RongYunToken</display-name>
    <servlet-name>RongYunToken</servlet-name>
    <servlet-class>com.fei.servlet.RongYunToken</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RongYunToken</servlet-name>
    <url-pattern>/chitchat/getToken_rongyun</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFriendServlet</display-name>
    <servlet-name>AddFriendServlet</servlet-name>
    <servlet-class>com.fei.servlet.AddFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFriendServlet</servlet-name>
    <url-pattern>/chitchat/addFriends</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetFriendAll</display-name>
    <servlet-name>GetFriendAll</servlet-name>
    <servlet-class>com.fei.servlet.GetFriendAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFriendAll</servlet-name>
    <url-pattern>/chitchat/getFriendsList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPassW</display-name>
    <servlet-name>GetPassW</servlet-name>
    <servlet-class>com.fei.servlet.GetPassW</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPassW</servlet-name>
    <url-pattern>/user/getPassW</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendFriendRequire</display-name>
    <servlet-name>SendFriendRequire</servlet-name>
    <servlet-class>com.fei.servlet.SendFriendRequire</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendFriendRequire</servlet-name>
    <url-pattern>/chitchat/sendAddFriendRequire</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateGroup</display-name>
    <servlet-name>CreateGroup</servlet-name>
    <servlet-class>com.fei.servlet.CreateGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateGroup</servlet-name>
    <url-pattern>/chitchat/createGroup_rongyun</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPassWord</display-name>
    <servlet-name>ResetPassWord</servlet-name>
    <servlet-class>com.fei.servlet.ResetPassWord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPassWord</servlet-name>
    <url-pattern>/user/resetPassWord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddGroup</display-name>
    <servlet-name>AddGroup</servlet-name>
    <servlet-class>com.fei.servlet.AddGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGroup</servlet-name>
    <url-pattern>/chitchat/joinGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetGroupInformation</display-name>
    <servlet-name>GetGroupInformation</servlet-name>
    <servlet-class>com.fei.servlet.GetGroupInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetGroupInformation</servlet-name>
    <url-pattern>/chitchat/getGroupInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuitGroup</display-name>
    <servlet-name>QuitGroup</servlet-name>
    <servlet-class>com.fei.servlet.QuitGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuitGroup</servlet-name>
    <url-pattern>/chitchat/quitGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteContact</display-name>
    <servlet-name>DeleteContact</servlet-name>
    <servlet-class>com.fei.servlet.DeleteContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteContact</servlet-name>
    <url-pattern>/chitchat/DeleteContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchUser</display-name>
    <servlet-name>SearchUser</servlet-name>
    <servlet-class>com.fei.servlet.SearchUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchUser</servlet-name>
    <url-pattern>/user/searchUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublisPersonalDynamic</display-name>
    <servlet-name>PublisPersonalDynamic</servlet-name>
    <servlet-class>com.fei.servlet.PublisPersonalDynamic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublisPersonalDynamic</servlet-name>
    <url-pattern>/dynamic/special/publisDynamicInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClickOnLike</display-name>
    <servlet-name>ClickOnLike</servlet-name>
    <servlet-class>com.fei.servlet.ClickOnLike</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClickOnLike</servlet-name>
    <url-pattern>/dynamic/general/clickOnLike_dynamic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DynamicComment</display-name>
    <servlet-name>DynamicComment</servlet-name>
    <servlet-class>com.fei.servlet.DynamicComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DynamicComment</servlet-name>
    <url-pattern>/dynamic/general/dynamicComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeNickName</display-name>
    <servlet-name>ChangeNickName</servlet-name>
    <servlet-class>com.fei.servlet.ChangeNickName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeNickName</servlet-name>
    <url-pattern>/jmanage/ChangeNickName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NearPeople</display-name>
    <servlet-name>NearPeople</servlet-name>
    <servlet-class>com.fei.servlet.NearPeople</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NearPeople</servlet-name>
    <url-pattern>/lbs/nearbyPeople</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.fei.servlet2.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/v2/login/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveUser_v2</display-name>
    <servlet-name>SaveUser_v2</servlet-name>
    <servlet-class>com.fei.servlet2.SaveUser_v2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveUser_v2</servlet-name>
    <url-pattern>/v2/login/saveUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveThirdPartyUser</display-name>
    <servlet-name>SaveThirdPartyUser</servlet-name>
    <servlet-class>com.fei.servlet2.SaveThirdPartyUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveThirdPartyUser</servlet-name>
    <url-pattern>/v2/login/saveThirdPartyUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendSMSCode</display-name>
    <servlet-name>SendSMSCode</servlet-name>
    <servlet-class>com.fei.servlet2.SendSMSCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendSMSCode</servlet-name>
    <url-pattern>/v2/login/sendSMSCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateSMSCode</display-name>
    <servlet-name>ValidateSMSCode</servlet-name>
    <servlet-class>com.fei.servlet2.ValidateSMSCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateSMSCode</servlet-name>
    <url-pattern>/v2/login/validateSMSCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPassWord_v2</display-name>
    <servlet-name>ResetPassWord_v2</servlet-name>
    <servlet-class>com.fei.servlet2.ResetPassWord_v2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPassWord_v2</servlet-name>
    <url-pattern>/v2/login/resetPassWord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePersonInfo</display-name>
    <servlet-name>UpdatePersonInfo</servlet-name>
    <servlet-class>com.fei.servlet2.personInfo.UpdatePersonInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePersonInfo</servlet-name>
    <url-pattern>/v2/user/updatePersonInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePersonImg</display-name>
    <servlet-name>UpdatePersonImg</servlet-name>
    <servlet-class>com.fei.servlet2.personInfo.UpdatePersonImg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePersonImg</servlet-name>
    <url-pattern>/v2/user/UpdatePersonImg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePersonAlbum</display-name>
    <servlet-name>UpdatePersonAlbum</servlet-name>
    <servlet-class>com.fei.servlet2.personInfo.UpdatePersonAlbum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePersonAlbum</servlet-name>
    <url-pattern>/v2/user/updatePersonAlbum</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAlbum</display-name>
    <servlet-name>DeleteAlbum</servlet-name>
    <servlet-class>com.fei.servlet2.personInfo.DeleteAlbum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAlbum</servlet-name>
    <url-pattern>/v2/user/deleteAlbum</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserBaseInfo</display-name>
    <servlet-name>GetUserBaseInfo</servlet-name>
    <servlet-class>com.fei.servlet2.personInfo.GetUserBaseInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserBaseInfo</servlet-name>
    <url-pattern>/v2/user/getUserBaseInfo</url-pattern>
  </servlet-mapping>
</web-app>